.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  .left {
    display: flex;
    flex-direction: row;
    align-items: center;


    height: 100px;
    width: 40%;
    
   
    .topBtn {
      display: flex;
      flex-direction: row;
      background-color: #54BA2D;
      border-radius: 30px;
      width: 224px;
      height: 55px;
      border: none;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      color: white;
    }
    .contact {
      display: flex;
      flex-direction: column;
        margin-right: 100px;
      width: 200px;
      li{
        width: 130px;
      }
      a {
        font-size: 18px;
        font-weight: 700;
      }
      
    }
  }
  .right {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 200px;
    .logo {
      margin-right: 60px;
    }
    .icons {
      display: flex;
      flex-direction: row;
      img {
        cursor: pointer;
      }
    }
    .agent {
      display: flex;
      flex-direction: column;
      margin-right: 30px;
      p {
        font-weight: 400;
        font-size: 15px;
      }
      
    }
  }
}
