// .oNas {
//   position: absolute;
//   background-color: #3a3c48;
//   font-size: 15px;
//   color: #ffffff;
//   left: 0;
//   top: 0;
//   width: 310px;
//   height: 320px;
//   .links {
//     display: flex;
//     flex-direction: row;
//   }
// }

.modalCompany {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 250px;
  left: 250px;
  
  .oNas {
    width: 310px;
    height: 320px;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #3a3c48;
    color: #ffffff;
    border-radius: 17px;
    z-index: 5;

    .ssylky {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      margin-top: 5px;
      font-weight: bold;

      li {
        cursor: pointer;
        &:hover {
          transition: all 0.5s;
          color: red;
        }
      }
    }
  }
}
